html, body {
    height: 100%;
    margin: 0;
  }

#introDiv
{
    height: 1000px;
    background: black;
}

#controlBox
{
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    padding-top: 15rem;
}

.controlBoxText
{
    color: wheat;
}

