html, body {
    height: 100%;
    margin: 0;
  }

#introDiv
{
    height: 1000px;
    background: #000000;
}

#controlBox
{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controlBoxText
{
    color: #FFF;
}

.scene 
{
    z-index: 1;
    position: absolute;
}

.circleSVG
{
    fill: #000000;
}

